.headerDivider {

    border-right:1px solid rgb(224, 210, 210); 
    width: 33%;

}

.headerDivider:last-of-type {
    
    border-right: none; 
    
}

.cards-holder{
    top: 15%;
    margin-top: 100px;
}

.green{
    color: #228B22;
}

.red{
    color: #d9534f;
}
.yellow {
    color: 	#FFE67D;
}




  h2,p{
    font-size:100%;
    font-weight:normal;
  }
  ul,li{
    list-style:none;
  }
  ul{
    overflow:hidden;
    padding:3em;
  }
  ul li a{
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:10em;
    width:10em;
    padding:1em;
  }
  ul li{
    margin:1em;
    float:left;
  }

