@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #1E3A70;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: white;
  border-bottom: solid 4px #FFE67D;
}
.App-header i {
  margin-right: 8px;
  color: #FED737;
}

.App-link {
  color: #09d3ac;
}

.Retro-section {
  margin:20px 0px;
}
.card-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
}
.card {
  padding:10px;
  text-align: left;
  align-content: space-around;
  border:dotted 1px #ccc;
  background: #f0f0f0;
  flex:0 0 30%;
  margin:6px;
  flex-shrink: 30%;
  white-space: normal;
  word-break: break-word;
  width: 30%;
}

.title i {
  margin-right: 6px;
}

.topicsTable {
  border:solid 1px #ccc;
  border-right: none;
  border-bottom: none;
  margin:20px auto;
  text-align: left;
}
.heads {
  background: #f0f0f0;
  padding:0px; 
  font-weight: bold;
}
.cols {
  padding:0px; 
}
.heads div, .cols div {
  height: 35px;
  line-height: 35px;
  border-right: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
}
.cols div.progress_bar {
  background: #ccc;
  border:none;
  margin-top: 7px;
  height: 20px;
  line-height: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.cols div.progress_bar div {
  border:none;
  height: 20px;
  line-height: 20px;
  display: inline-block;
}
.cols div.progress_bar div.red {
  width: 20%;
  background: red;
}
.cols div.progress_bar div.green {
  width: 20%;
  background: green;
}
.cols div.progress_bar div.blue {
  width: 20%;
  background: darkblue;
}